<nav class="tabbar" aria-label="主导航">
  <a class="tab{{ ' on' if tab == 'home' else '' }}" href="index.html"><span class="i">◈</span><span>概览</span></a>
  <a class="tab{{ ' on' if tab == 'categories' else '' }}" href="categories.html"><span class="i">▦</span><span>分类</span></a>
  <a class="tab{{ ' on' if tab == 'search' else '' }}" href="#" data-tab="search"><span class="i">⌕</span><span>搜索</span></a>
  <a class="tab{{ ' on' if tab == 'i18n' else '' }}" href="i18n.html"><span class="i">文</span><span>文案</span></a>
  <a class="tab{{ ' on' if tab == 'sprites' else '' }}" href="sprites.html"><span class="i">❖</span><span>图片</span></a>
</nav>
